{% extends "::layout.html.twig" %}

{% block body %}
    
    <div class="col-md-4 col-md-push-2 billet order animate-box" data-animate-effect="fadeInRight">
        {% for flashMsg in app.session.flashBag.get('success') %}
            <div class="text-center alert alert-success">
                {{ flashMsg }}
            </div>
        {% endfor %}
        
                        {% if basket == 'true' %}
                            <div class="message">
                                <h3>{{ 'merci'|trans }}</h3>
                                {{ 'accept'|trans }}
                                 </div>
                            {%  else %}
                                <div class="message">Votre paiement a été refusé</div>
                            {% endif %}
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6 col-md-push-3">
                                    <a href="{{ path('index') }}">{{ 'back'|trans }}</a>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        
        </div>
    </div>
{%  endblock %}
 
 