{% extends "::layout.html.twig" %}
{% block body %}
   
        <div class="col-md-4 col-md-push-2 billet animate-box order" data-animate-effect="fadeInRight">
            <h3>{{ 'coord' | trans }} </h3>
            
            {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.firstname) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
    <div class="row animate-box" data-animate-effect="fadeInRight">
        {% for ticket in form.tickets %}
    
        <div class="col-md-12 billet">
            <div class="row">
                <div class="col-md-2">{{ 'Billet' |trans }} n°{{ loop.index }}</div>
                <div class="col-md-2"> {{ 'wantvisit' |trans }}</div>
                <div class="col-md-2">{{ form_widget(ticket.visitdate) }}</div>
                <div class="col-md-2">{{ form_widget(ticket.duration) }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.firstname, { 'attr': {'class': 'form-control','placeholder': 'Firstname'}}) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.name, { 'attr': {'class': 'form-control','placeholder': 'Name'}}) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.birthday, { 'attr': {'class': 'form-control','placeholder': 'Birthday'}}) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.country) }}
                </div>
                <div class="col-md-3 col-md-push-1">
                    {{ form_widget(ticket.reduction) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="col-md-2 col-md-push-8">

        {{ form_widget(form.Suivant) }}
        {{  form_end(form) }}

    </div>
    
    </div>
    </div>
    </div>
{%  endblock %}
  