{% extends "::layout.html.twig" %}

{% block body %}
    </div>
    {% for form in forms %}
        
        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
        <div class="form-wrap">
            <div class="tab">
                
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Billet n°{{ loop.index }} </h3>
                        
                        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
    
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.name, {'label': 'Nom'}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.firstname, {'label': 'Prénom'}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.birthday, {'label': 'Anniversaire'}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.country, {'label': 'Pays'}) }}
                            </div>
                        </div>
                        {% if loop.index == loop.last %}
                        <div class="row form-group">
                            <div class="col-md-4 col-md-push-4">
                                {{ form_row(form.suivant) }}
                            </div>
                        </div>
                            {% endif %}
                        {{  form_end(form, {'render_rest': false}) }}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    </div>
    
    
    </div>
    </div>
    </div>
    </header>
{%  endblock %}