{% extends "::layout.html.twig" %}
{% block body %}
   
        <div class="col-md-4 col-md-push-2 billet animate-box order" data-animate-effect="fadeInRight">
            <h3>{{ 'coord' | trans }} </h3>
            
            {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.firstname) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
    <div class="row animate-box" data-animate-effect="fadeInRight" id="mesBillets">
        <div id="billets" >
        {% for ticket in form.tickets %}
    
        <div class="col-md-12 billet" id="bill-n{{ loop.index }}" data-prototype="{{ form_widget(form.tickets.vars
        .prototype)|e
        ('html_attr') }}">
            <div class="row">
                <div class="col-md-2">{{ 'Billet' |trans }} n°{{ loop.index }}</div>
                <div class="col-md-2"> {{ 'wantvisit' |trans }}</div>
                <div class="col-md-2">{{ form_widget(ticket.visitdate) }} {{ form_errors(ticket.visitdate) }}</div>
                <div class="col-md-2">{{ form_widget(ticket.duration) }} {{ form_errors(ticket.duration) }}</div>
                <div class="col-md-4" style="text-align: right"><a href="#" id="n{{ loop.index }}" class="btn
                btn-default btn-xs
                delete">{{ 'delete' | trans }}</a></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.firstname, { 'attr': {'class': 'form-control','placeholder': 'Firstname'}}) }}
                    {{ form_errors(ticket.firstname) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.name, { 'attr': {'class': 'form-control','placeholder': 'Name'}}) }}
                    {{ form_errors(ticket.name) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.birthday, { 'attr': {'class': 'form-control','placeholder': 'Birthday'}}) }}
                    {{ form_errors(ticket.birthday) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                    {{ form_widget(ticket.country) }}
                </div>
                <div class="col-md-3 col-md-push-1">
                    {{ form_widget(ticket.reduction) }}
                </div>
                

            </div>
        </div>

        {% endfor %}
        </div>
    </div>
    
    <div class="col-md-2 col-md-push-4">

        {{ form_widget(form.Suivant) }}
        {{  form_end(form) }}

    </div>
    
    </div>
    </div>
    </div>
    
{%  endblock %}



