{% extends "::layout.html.twig" %}

{% block body %}
    </div>
        
        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
        <div class="form-wrap">
            <div class="tab">
                
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Récapitulatif de votre commande </h3>
                        
    
                        <div class="row form-group">
                            <div class="col-md-12">
                                
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.firstname, {'label': 'Prénom'}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(form.email, {'label': 'Email'}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.tickets) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4 col-md-push-4">
                                {{ form_row(form.Suivant) }}
                            </div>
                        </div>
                        {{  form_end(form) }}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
    
    </div>
    </div>
    </div>
    </header>
{%  endblock %}