{% extends "::layout.html.twig" %}

{% block body %}
        
        <div class="col-md-4 col-md-push-2 billet order animate-box" data-animate-effect="fadeInRight">
        
                    {% for flashMsg in app.session.flashBag.get('error') %}
                        <div class="text-center alert alert-danger">
                            {{ flashMsg }}
                        </div>
                    {% endfor %}
                    
                        <h3 style="text-align: center">{{ 'your_order'|trans }}</h3>
                        <div class="row">
                            <div class="col-md-12">
                            <h4 style="text-align: center">{{ 'coord'|trans }}</h4>
                            <div class="col-md-12">{{ order.firstname }} {{ order.name }}</div>
                            <div class="col-md-3">email :</div><div class="col-md-6">{{ order.email }}</div>
                            <div class="col-md-12"> {{ 'sendTo'|trans }}</div>
                        </div>
                        </div>
                        <hr>
                            <h4 style="text-align: center">{{ 'tickname'|trans }}</h4>
                        <hr>
                        {% for ticket in order.tickets %}
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <div class="col-md-12">{{ ticket.firstname }} {{ ticket.name }}</div>
                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">{{ 'valable'|trans({'%visitdate%': ticket
                                            .visitdate|date
                                            ('d-m-Y') }) }}
                                    </div>
                                        <div class="col-md-12">
                                        {% if ticket.duration == "1" %}{{ 'toute la journée'|trans }} {% else
                                        %}{{ 'l\'après-midi'|trans }} {% endif %}
                                    </div>
                                </div>
                            <div class="col-md-5 col-md-push-1">{{ 'reduction'|trans }}</div><div class="col-md-6">
                            {% if ticket.price == '10' %} Oui<br>
                            <em>{{ 'reduc'| trans }}</em>
                                {% else %} Non
                                    {% endif %}</div>
                            <div class="col-md-5 col-md-push-1">{{ 'price'|trans }}</div><div class="col-md-6">{{ ticket.price
                                }} €</div>
                        
                            </div>
                            <hr>
                        {%  endfor %}
                        <h4 style="text-align: center">{{ 'total'|trans({'%totalprice%': order.total }) }} €</h4>
                        <form action="{{ path('checkout') }}" method="POST" style="text-align: center">
        
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_nrN0OVCuq2ZJ8YpHJLPBY2WL"
                                    data-amount="{{ order.total * 100 }}"
                                    data-name="BOUDETNATURE.COM"
                                    data-description="Widget"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto"
                                    data-zip-code="false"
                                    data-currency="eur"
                                    data-label="{{ 'paiement'|trans }}"
                                   >

                                    document.getElementById("button").addEventListener("click", function() {
                                                            handler.open({
                                                            image: '/square-image.png',
                                                            name: 'Musée du Louvre',
                                                            description: '2 widgets',
                                                            amount: {{ order.total * 100 }}
                                                            });
                                                            });
                                                            
                            </script>
    
                        </form>

                    </div>
            </div>
        </div>
    
    </div>
{%  endblock %}
   


