{% extends "::layout.html.twig" %}

{% block body %}
    </div>
        
        <div class="col-md-5 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
            <div class="tab">
                
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Récapitulatif de votre commande n° {{ order.id }}</h3>
                        
                        <div class="row">
                            Vous désirez {{ order.tickets|length }} billets pour visiter le musée
                            {% for ticket in order.tickets %}
                                {% if ticket.visitdate|date('d-m-Y') == 'now'|date('d-m-Y') %} aujourd'hui.
                                {% else %} le {{ ticket.visitdate|date('d-m-Y') }}.
                                {% endif %}
                            {%  endfor %}
                        </div>
                        <div class="row">
                            <h4>Vos coordonnées :</h4>
                            <div class="col-md-6">Nom :</div><div class="col-md-6">{{ order.name }}</div>
                            <div class="col-md-6">Prénom :</div><div class="col-md-6">{{ order.firstname }}</div>
                            <div class="col-md-6">email :</div><div class="col-md-6">{{ order.email }}</div>
                        </div>
                            <h4>Vos billets :</h4>
                        {% for ticket in order.tickets %}
                            <div class="row">
                                <div class="col-md-6">N° :</div><div class="col-md-6">{{ ticket.code }}</div>
    
                                <div class="col-md-6">Nom :</div><div class="col-md-6">{{ ticket.name }}</div>
                            <div class="col-md-6">Prénom :</div><div class="col-md-6">{{ ticket.firstname }}</div>
                            <div class="col-md-6">Date de naissance :</div><div class="col-md-5">{{ ticket
                                .birthday|date('d-m-Y') }}</div>
                            <div class="col-md-6">Pays :</div><div class="col-md-6">{{ ticket.country
                                }}</div>
                            <div class="col-md-6">Réduction :</div><div class="col-md-6">
                            {% if ticket.reduction == true %} Oui<br>
                            <em>Un justificatif vous sera demandé à l'entrée.</em>
                                {% else %} Non
                                    {% endif %}</div>
                            <div class="col-md-6">Tarif</div><div class="col-md-6">{{ ticket.price
                                }} €</div>
                        </div>
                        {%  endfor %}
                        <h4>Total : {{ order.total }}€</h4>

                    </div>
        </div>
    </div>
    
    </div>
    
    
    </div>
    </div>
    </div>
    </header>
{%  endblock %}